<%= form_with(model: @comment, local: true, url: last_episode_comments_path) do |form| %>

    
  <div class="field container mt-5">
    <div class="row cardBody py-5 mt-5">
      <div class="col-lg-4 py-2">
        <div class="card-body bg-dark">

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class:"forminput"%>
  </div>

  <div class="actions">
    <%= form.submit %>
     </div>
   </div>
     </div>
      </div>

    
<% end %>
